/* font-family: 'Barlow Condensed', sans-serif;
font-family: 'Comforter Brush', cursive;
font-family: 'Indie Flower', cursive;
font-family: 'Montserrat Subrayada', sans-serif;
font-family: 'Poppins', sans-serif; */



.mainContainerHomePage{
display: flex;
justify-content: start;
flex-direction: column;
align-items: center;
position: relative;
background-image: url('/public/Images/5.jpg');
margin-top: 0;
background-size: cover;
background-position: top;
min-height: 100%;
height: 94.5vh;
overflow: overlay

}
.overlay{
    position:absolute;
  top:0;right:0;left:0;bottom:0;
  background-color:rgba(0,0,0,0.7);
  z-index:0;
}

.logoContainer{
   width: 400px;
   margin-top: 4em;
   z-index: 1;
}
.logoContainer img{
   width: 100%;
    transform: rotate(45deg);
    
}
.info-text-Container{
    margin-top: 1em;
    z-index: 2;
    text-align: center;
    max-width: 900px;
   
}
.info-text-Container span{
    color: #F83721;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: lighter;
}
.info-text-Container h2{
    color:#F7EFEA ;
    font-family: 'Barlow Condensed', sans-serif;
    font-style: italic;
    /* font-family: 'Indie Flower', cursive; */
    
}
/* .info-text-Container ul{
   list-style: none ;
} */
.info-text-Container p{
    color:#F7EFEA ;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
}
.homeLinkCss{
    z-index: 2;
}
.homeLinkCss a{
    text-decoration: none;
    background-color:#181818 ;
    padding: 0.5em 1.5em;
    color: white;
    font-family: 'Poppins', sans-serif;
}
.homeLinkCss a:hover{
    text-decoration: none;
    background-color:#F83721 ;
    padding: 0.5em 1.5em;
    color: #F7EFEA  ;
}


@media all and (max-width: 1500px) {
    
}

/* //=== */
@media all and (max-width: 1100px) {
    
}

@media all and (max-width: 900px) {
     /* ! HomePage */
     .logoContainer{
        width: 360px;
        margin-top: 4em;
        z-index: 1;
     }

    .info-text-Container p{
        max-width: 800px;
        font-size: 16px;
    }
    .info-text-Container {
        margin-top: 1em;

    }
    
}
@media all and (max-width: 768px) {
     /* ! HomePage */
     .logoContainer{
        width: 320px;
        margin-top: 4em;
        z-index: 1;
     }

    .info-text-Container p{
        max-width: 450px;
        font-size: 16px;
    }
    .info-text-Container {
        margin-top: 1em;

    }
    
}
@media all and (max-width: 500px) {
     /* ! HomePage */
    .logoContainer{
        width: 280px;
        margin-top: 4em;
        z-index: 1;
     }

    .info-text-Container p{
        max-width: 360px;
        font-size: 14px;
    }
    .info-text-Container {
        margin-top: 0.7em;

    }
    
}
@media all and (max-width: 380px) {

    /* ! HomePage */
    .logoContainer{
        width: 240px;
        margin-top: 4em;
        z-index: 1;
     }

    .info-text-Container p{
        max-width: 330px;
        font-size: 13px;
    }
    .info-text-Container {
        margin-top: 0.3em;

    }
    
}