
.mainContainerHomePage{
display: flex;
justify-content: start;
flex-direction: column;
align-items: center;
position: relative;
background-image: url('/public/Images/5.jpg');
margin-top: 0;
background-size: cover;
background-position: top;
min-height: 100%;
height: 94.5vh;
overflow: overlay

}
.overlay{
    position:absolute;
  top:0;right:0;left:0;bottom:0;
  background-color:rgba(0,0,0,0.7);
  z-index:0;
}

.logoContainer{
   width: 400px;
   margin-top: 4em;
   z-index: 1;
}
.logoContainer img{
   width: 100%;
    transform: rotate(45deg);
    
}
.info-text-Container{
    margin-top: 1em;
    z-index: 2;
    text-align: center;
    max-width: 900px;
   
}
.info-text-Container span{
    color: #F83721;
}
.info-text-Container h2{
    color:#F7EFEA ;
}
/* .info-text-Container ul{
   list-style: none ;
} */
.info-text-Container p{
    color:#F7EFEA ;
}
.homeLinkCss{
    z-index: 2;
}
.homeLinkCss a{
    text-decoration: none;
    background-color:#181818 ;
    padding: 0.5em 1.5em;
    color: white;
}
.homeLinkCss a:hover{
    text-decoration: none;
    background-color:#F83721 ;
    padding: 0.5em 1.5em;
    color: #F7EFEA  ;
}