/*
website color pallette maybe: 

#393437 Jet - Brownish 
#F7EFEA - seashell bg
#8A6755 - brown 
#1C1E2B = navy 
#F83721 - red ruby buttons
#181818 = black text
#312520 dark brown
#212529 - grey

*/

body{
    background-color: #212529   ;
}

.shoeListContainer{
    display: flex;
    flex-direction: column;
    margin-left: 1em;
    margin-right: 1em;
    align-items: center;
    margin-top: 2em;
    width: 16em;
    padding-right: 10px;
    height: fit-content;
    /* border: 1px solid black; */
    /* border-radius: 10px; */
    /* background-color: #F7EFEA; */
    border-right: dashed white 2px;
    
}

.shoeImagePreview{
    border-radius: 15px;
}

.shoeListText{
    display: flex;
    gap: 10px;
    color: #F7EFEA ;
}
.shoeListLinkButton{
    /* margin-bottom: 1em;
    margin-top: 1em; */
    display: flex; 
}
.shoeListLinkButton a{

   color: #F7EFEA;
   background-color: #181818 ;
   text-decoration: none;
   padding: 6px 12px;
   border-radius: 7px;
}
.shoeListLinkButton a:hover{

  
   background-color: #F83721  ;
  
}
.shoeListBrandContainer{
    display:  flex;
    flex-direction: row;
    align-items: center;
    margin-left: 2em;
    color:#F7EFEA 
    
}
.shoeListBrandContainer span{
  padding: 4px;
  margin-left: 3em;
  cursor: pointer;    
}
.shoeListBrandContainer span:hover{
    color: #F83721
}
/* .shoeListBrandContainer span:hover{
  color: red;
} */
/* export const DeleteBtn = styled.button`
    background-color: red;
   

`
export const Container = styled.div`
    display: flex;
    flex-direction: column;
    margin-left: 1em;
    align-items: center;
    
`
export const imageBorder = styled.div`
    border-radius: 62px;
` */
