h3{
    color: #F7EFEA;
    /* border-top: dashed 1px white; */
}
.wrapperDesc{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4em;
    font-family: 'Poppins', sans-serif; 
    /* font-style: italic; */
}
.imgContainer{
    margin-right: 10em;
   
    
}
.imgContainer img{
    border-radius: 20px;
    border: 2px solid black;
  
}

.__field{
    padding: 5px 19px;
    /* border-radius: 8px; */
    outline: none;
    /* outline: red; */
}
.__field:focus{
    /* accent-color: #F7EFEA; */
    border: 2px lightcoral solid;
}
.input button{
    padding:7px;
    background-color:#393437 ;
    color: #F7EFEA;
    border: none;
    cursor: pointer;
}
.input button:hover{
    padding:7px;
    background-color:#F83721  ;
    color: #1C1E2B;
    border: none;
}
.input a{
    padding:7px 10px;
    margin-top: 4px;
    background-color:#393437 ;
    color: #F7EFEA;
    border: none;
    cursor: pointer;
    text-decoration: none;
}
.input a:hover{
    padding:7px 10px;
    background-color:#F83721  ;
    color: #1C1E2B;
    border: none;
}
.linkRoute{
   margin-left: -1em;
}

.brandImgContainer{
    margin-left: 1em;
}

@media all and (max-width: 1500px) {
    .imgContainer{
        margin-right: 6em;
        margin-left: 1em;
       
        
    }
    
}

/* //=== */
@media all and (max-width: 1100px) {
    .imgContainer{
        margin-right: 2em;
        margin-left: 1em;
       
        
    }
    
}

@media all and (max-width: 900px) {
   
     /* ! ListDesc */
     /* .wrapperDesc{
        display: block;
        line-height: 2.5em;
        margin-left: 1em;
    } */
    .imgContainer{
        margin-right: 0.5em;
        margin-left: 1em;
       
        
    }
    /* .imgContainer img{
        border-radius: 20px;
      max-width: 440px;
    } */
    
}
@media all and (max-width: 768px) {
      /* ! ListDesc */
      .wrapperDesc{
        display: block;
        line-height: 2.5em;
        margin-left: 1em;
    }
    .imgContainer{
        margin-left: 4em;
       
        
    }
    .imgContainer img{
        border-radius: 20px;
      max-width: 440px;
    }
   
    
}
@media all and (max-width: 655px) {
   
    
     /* ! ListDesc */
    .wrapperDesc{
        display: block;
        line-height: 2.5em;
        margin-left: 1em;
    }
    .imgContainer{
        margin-left: 4em;
       
        
    }
    .imgContainer img{
        border-radius: 20px;
      max-width: 360px;
    }
    
}
@media all and (max-width: 380px) {

    /* ! ListDesc */
    .wrapperDesc{
        display: block;
        line-height: 2.5em;
        margin-left: 1em;
    }
    .imgContainer{
        margin-right: 10em;
       
        
    }
    .imgContainer img{
        border-radius: 20px;
      max-width: 310px;
    }
}