
.nav{
    background-color: #181818 ;
    /* margin-bottom: 2em; */
    display: flex;
    justify-content: center;
    margin: 0;
}
.nav .home{
   margin: 1em;
}
.nav .addProduct{
   /* margin: 1em; */
   padding: 1em 2em;
  
}


.nav a{
   text-decoration: none;
   color: #F7EFEA;
   /* padding: 10px; */
   /* margin: 0; */
   
   padding: 1em;
   
}
.nav  a:hover{
    padding: 1em;
   color: #F7EFEA;
   background-color: #F83721 ;
   
}

/* .btn {
    position: relative;
    color: #F7EFEA;
    padding: 1em 2.9em;
    border: none;



    outline: none;
    cursor: pointer;
  }
  .btn::before {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: 'Sell Product';
    transition: all .3s;
  }
  .btn::after {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 60px;
    left: 0;
    width: 100%;
    height: 100%;
    content: 'Click To Sell';
    transition: all .3s;
  }
  .btn:hover::before {
    right: -60px;
    
  }
  .btn:hover::after {
    right: 0;
    
  } */


/*
website color pallette maybe: 

#393437 Jet - Brownish 
#F7EFEA - seashell bg
#8A6755 - brown 
#1C1E2B = navy 
#F83721 - red ruby buttons
#181818 = black text
#312520 dark brown

*/